@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;800&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*background setting*/
body {
  background-image: url("bckimg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*container max , min specifying that center box */
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 100px;
  background: whitesmoke;
  margin: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 35px 35px 55px rgb(9, 52, 70);
}

/*leftside content color padding given starts */
.container .left_side {
  position: relative;
  background-color: rgb(6, 6, 67);
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  /*like coloum*/
  align-items: center;
  margin-bottom: 30px;
 /*  border-bottom: 2px solid rgb(232, 229, 229, 0.3); */
  /*line in between each title, 0.3 is thickness of line  */
}

.profileText .imgBox {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*prof in round shape*/
  overflow: hidden;


}

/*prof pic in circle shape inside fit pic in round */
.profileText .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactInfo {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  border-bottom: 3px solid rgba(232, 229, 229, 0.3);
}

.title {
  color: rgb(78, 154, 116);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-shadow: 0 0 3px #68c44c;
}

/*space under title */
.contactInfo ul {
  position: relative;
  /* padding-top: 15px; */
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
  margin: 10px 0;
  cursor: pointer;

}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 19px;
  color: rgb(84, 152, 125);
  /* padding-left: 5px; */
}

/*in contact info li font color*/
.contactInfo ul li span {
  color: #dbd8d8;
  font-weight: 300px;

}

.contactInfo ul li a {
  color: rgb(243, 239, 239);
  font-size: 20px;
  padding-left: 10px;
}

/*Skill*/
.Skills {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  border-bottom: 3px solid rgba(232, 229, 229, 0.3);
}

.Skills .title {
  /*skill title space and gaps */
  color: rgb(78, 154, 116);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 20px;
}

.Skills ul {
  /*under skill title space*/
  position: relative;
  padding-left: 60px;
}

.Skills ul li {
  position: relative;
  padding-top: 15px;
  padding-left: 5px;
  color: aliceblue;
}

.Certificate {
  padding-top: 15px;
  font-size: 20px;
  /* position:inherit ; */
}

.Certificate .title {
  /* skill title space and gaps */
  color: rgb(78, 154, 116);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 30px;
  margin-left: 1px;
  margin-top: 5px;
  /* Adjust the top margin to reduce space */
  margin-bottom: 5px;
  /* Adjust the bottom margin if needed */
}

.title h3 {
  padding-left: 30px;
  margin-right: 50px;
}

.Certificate ul {
  /* under skill title space */
  position: relative;
  padding-top: 5px;
  padding-left: 70px;
}

.Certificate ul li {
  position: relative;
  padding-top: 15px;
  padding-left: 5px;
  color: #dbd8d8;
}

.Certificate ul li p {
  /* space bt title and des para */
  padding-top: 15px;
  position: relative;
  color: #dbd8d8;
}

.Certificate ul span {
  padding-left: 5px;
  color: cornflowerblue;
}

/*rigt side content declaring*/
.container .right_side {
  position: relative;
  background-color: rgb(246, 246, 249);
  padding: 40px;
}

.right_side h2 {
  color: rgb(18, 18, 59);
  font-size: 50px;
  margin-top: 5px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 900;
  line-height: 1em;
  padding-bottom: 80px;
  padding-top: 50px;
  /*rgt line =left line same*/
  border-bottom: 5px solid rgba(23, 9, 9, 0.2);
  border-bottom-width: medium;
  text-shadow: 0 0 3px #FF0000;
}

.right_side .title {
  color: blue;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  padding-top: 25px;
  text-shadow: 0 0 3px #FF0000;
 
}

/*career obj right side content*/
.Carrer_objective p {
  padding-top: 10px;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 25px;
  border-bottom: 5px solid rgba(23, 9, 9, 0.2);
}

/*Education*/
.Academiccredential ul {
/*   padding-top: 20px; */
  /*letter-spacing: 0.5px;*/
  font-size: 20px;
  padding-bottom: 20px;
  position: relative;
 /*  padding-top: 10px; */
  border-bottom: 5px solid rgba(13, 7, 7, 0.2);
}

/*Internship*/
.Internships ul {
  letter-spacing: 0.5px;
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid rgba(23, 9, 9, 0.2);
}

.Internships ul li p {
  position: relative;
}

/*projects*/
.Projects ul {
 /*  padding-top: 10px; */
  letter-spacing: 0.5px;
  font-size: 20px;
  padding-bottom: 10px;
}


